[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bezier"]
	path = bezier
	url = https://github.com/aaronolsen/bezier
[submodule "StereoMorph"]
	path = StereoMorph
	url = https://github.com/cran/StereoMorph
[submodule "svgViewR"]
	path = svgViewR
	url = https://github.com/cran/svgViewR
